[submodule "src/thirdparty/stb"]
	path = src/thirdparty/stb
	url = https://github.com/salamanderrake/stb.git
[submodule "src/thirdparty/tbb"]
	path = src/thirdparty/tbb
	url = https://github.com/salamanderrake/tbb
[submodule "src/thirdparty/json"]
	path = src/thirdparty/json
	url = https://github.com/salamanderrake/json.git
[submodule "src/thirdparty/fmt"]
	path = src/thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/thirdparty/spdlog"]
	path = src/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
