[submodule "thirdparty/include/stb"]
	path = thirdparty/include/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/tbb"]
	path = thirdparty/tbb
	url = https://github.com/salamanderrake/tbb.git
